ul {
    list-style-type: none;
  }
  li {
    float: left;
  }
  .titulo a {
    list-style-type: none;
    padding: 30px;
    margin: 30px;
    border: 50px;
    color: black;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  li {
    background-color: rgb(173, 110, 87);
    color: white;
    margin: 30px;
    border: 30px;
  }
  
  body {
    background-image: url(./fondp.jpg);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .BARBICOOK {
    text-align: center;
    background-color: rgb(173, 110, 87, 60%);
    color: rgb(20, 19, 19);
    margin: 0px;
    border: 0px;
    padding: 10px;
  }
  
  img {
    text-align: center;
    background-color: rgb(173, 110, 87, 60%);
    color: rgb(20, 19, 19);
    margin: 0px;
    border: 0px;
    padding: 10px;
  }
  
  .MENU {
    width: 150px;
    height: 70px;
    border: 2px solid rgb(136, 123, 123);
    background-color: rgb(255, 205, 230);
    margin: 30px;
  
    text-align: center;
    animation-name: cambiarcolor;
    animation-duration: 5s;
  }
  
  @keyframes cambiarcolor {
    0% {
      background-color: rgb(175, 135, 157);
    }
    100% {
      background-color: rgb(236, 200, 222);
    }
  }
  
  .texto {
    width: 900px;
    height: 100px;
    border: 6px solid rgb(134, 123, 123);
    margin: 30px;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
    font-size: larger;
    transform: translateY(100px);
  }
  
  .footer {
    height: 100px;
    transform: translateY(800px);
    text-align: center;
  }
  
  .btn1 :hover {
    border: 3px solid transparent;
    transition-property: background-color, color;
    background-color: rgb(241, 235, 236);
    transition-duration: 0;
  }
  
  .btn2 :hover {
    border: 3px solid transparent;
    transition-property: background-color, color;
    background-color: rgb(241, 235, 236);
    transition-duration: 0;
  }
  
  .btn3 :hover {
    border: 3px solid transparent;
    transition-property: background-color, color;
    background-color: rgb(241, 235, 236);
    transition-duration: 0;
  }
  
  .btn4 :hover {
    border: 3px solid transparent;
    transition-property: background-color, color;
    background-color: rgb(241, 235, 236);
    transition-duration: 0;
  }
  
  .btn5 :hover {
    border: 3px solid transparent;
    transition-property: background-color, color;
    background-color: rgb(241, 235, 236);
    transition-duration: 0;
  }
  
  .desayuno {
    width: 900px;
    height: 150px;
    border: 10px solid rgb(134, 123, 123);
    float: left;
    margin: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
  }
  
  .logo {
    margin-bottom: 100px;
  }
  
  